@tailwind base;
@tailwind components;
@tailwind utilities;

#heroSocial {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
#heroSocial > li {
  width: 4.5rem;
  height: 4.5rem;
  list-style: none;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease;
  margin: 8px;
}

#discord {
  width: 4.5rem;
  border-radius: 50%;
}
#gmail {
  width: 4rem;
  padding-top: 5px;
}
#gmail2 {
  width: 2rem;
  padding-top: 5px;
}
.techStack {
  width: 90px;
  height: 90px;
  margin: 1rem;
}

.techStack1 > img {
  width: 100px;
  height: 100px;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.techStack:hover .tooltip-text {
  visibility: visible;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #1f3b71;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: #2c5282;
}

.darkmode {
  background: linear-gradient(90deg, #141e30 0%, #243b55 100%);
}
.formcolor {
  background-color: #e3f3fa;
  border: 0.5px solid #1f3b71;
}

.btn1 {
  width: 40px;
  background-color: #1f3b71;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
}
.imageGrad {
  color: #111;
  filter: drop-shadow(0 0 100px rgb(55, 67, 37));
}
.imageGrad1 {
  color: #111;
  filter: drop-shadow(0 0 100px rgb(55, 67, 37));
}
